inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron*
.Rprofile*
docs/*
docs/
.env
connectapi.Rcheck/
connectapi*.tar.gz
connectapi*.tgz
*.orig
tests/integrated/integrated-results-check.txt
tests/integrated/testthat-problems.rds
CRAN-SUBMISSION
tests/testthat/Rplots.pdf
*.lic
