.column {
    float: left;
    padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  overflow-y: scroll;
}

.row {
  border-top: 1px solid grey;
}

img {
    max-width: 100%;
    max-height: 100%;
}
