on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: integration-tests

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - "2024.03.0"
          - "2023.09.0"
          - "2023.03.0"
          - "2022.09.0"
          - "2022.03.2"
          - "2021.09.0"
          - "1.8.8.2"

    env:
      CONNECT_VERSION: ${{ matrix.version }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
      CONNECT_LICENSE_FILE: ${{ secrets.CONNECT_LICENSE_FILE }}
      CONNECTAPI_INTEGRATED: true

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, local::.
          needs: check

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Set up license file
        run: echo "$CONNECT_LICENSE_FILE" > $RSC_LICENSE

      - name: Setup test environment
        run: |
          connectapi:::build_test_env()
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-${{ matrix.version }}-results
          path: check
