on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CONNECT_VERSION: 2022.09.0
      RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
      CONNECT_LICENSE_FILE: ${{ secrets.CONNECT_LICENSE_FILE }}
      CONNECTAPI_INTEGRATED: true

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true


      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr, local::.
          needs: coverage

      - name: Set up license file
        run: echo "$CONNECT_LICENSE_FILE" > $RSC_LICENSE

      - name: Setup test environment
        run: |
          connectapi:::build_test_env()
        shell: Rscript {0}

      - name: Test coverage
        run: |
          token <- Sys.getenv("CODECOV_TOKEN", "")
          covr::codecov(
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package"),
            token = if (token != "") token
          )
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: |
          ## --------------------------------------------------------------------
          find '${{ runner.temp }}/package' -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-test-failures
          path: ${{ runner.temp }}/package